.homeHeader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.title {
}
.loginBtn {
  font-size: 1.5rem;
  border: 1px solid grey;
  border-top-left-radius: 20px;
  padding: 3px;
}
.loginBtn:hover {
  background-color: red;
}
.hideLoginBtn {
  display: none;
}
.signUpBtn {
  font-size: 1.5rem;
  border: 1px solid grey;
  border-bottom-right-radius: 20px;
  padding: 3px;
}
.signUpBtn:hover {
  background-color: red;
}

.hideSignUpBtn {
  transform: scale(2);
  display: none;
}
